{% extends 'base.html.twig' %}

{% block stylesheets %}
            
            {{ encore_entry_link_tags('reservation') }}
        {% endblock %}

 {% block javascripts %}
            {{ encore_entry_script_tags('reservation') }}
        {% endblock %}

{% block title %}Réservation{% endblock %}

  
{% block body %}
    <div>
        <h1>Réserver</h1>
    </div>

    {{ form_start(form) }}
    
    {{ form_widget(form) }}

    <button type="submit">Valider la réservation</button>
    
    {{ form_end(form) }}
{% endblock %}
