

<nav>
    <li><a href="{{ path('app_home') }}">Le Hameau</a>
    <li><a href="{{ path('app_reservations') }}">Réservation</a>
    <li><a href="{{ path('app_menus') }}">Le Cabanon</a>
    <li><a href="{{ path('app_cart') }}">Panier</a>
    <li><a href="{{ path('app_login') }}">login</a>
    <li><a href="{{ path('app_register') }}">register</a>
</nav>

